.navbar {
  height: 100px;

  .wrapper {
    max-width: 1280px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  span {
    font-weight: bold;
    font-size: larger;
  }

  .social {
    display: flex;
    gap: 20px;

    .social__icons {
      color: lightgray;
      font-size: 32px;

      &:hover {
        color: #6B4FBA;
      }
    }
  }
}
